/*
    Dr Mario game
    © Copyright 2020 Iwo Strzeboński
	Published under WTFPLv2
	Languages: HTML5, CSS3, JavaScript (ES 2020)
	CSS3 Style Sheet
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
	background-color: black;
	font-family: 'VT323', monospace;
}

html,
body,
body * {
	margin: 0;
	padding: 0;
	cursor: default;
	user-select: none;
}

table {
	border-spacing: 0px;
}

th {
	width: 30px;
	height: 30px;
	border: 1px rgba(0, 255, 65, 0.25) solid;
	background-color: transparent;
}

.test {
	position: absolute;
	background-color: rgba(0, 255, 65, 0.25);
	width: 32px;
	height: 32px;
	color: rgb(0, 255, 65);
	font-size: 16px;
	line-height: 15px;
	text-align: center;
}