/*
    Dr Mario game
    © Copyright 2020 Iwo Strzeboński
	Published under WTFPLv2
	Languages: HTML5, CSS3, JavaScript (ES 2020)
	CSS3 Style Sheet
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
	background-color: black;
	font-family: 'VT323', monospace;
}

html,
body,
body * {
	margin: 0;
	padding: 0;
	cursor: default;
	user-select: none;
	background-repeat: no-repeat;
}

#bottle {
	position: relative;
	background-image: url('../assets/gfx/pf.png');
	width: 640px;
	height: 384px;
}

table {
	position: absolute;
	border-spacing: 0px;
	left: 272px;
	top: 80px;
}

th {
	width: 16px;
	height: 16px;
	background-color: transparent;
	color: transparent;
	font-size: 0;
}

#anim-pill-1,
#anim-pill-2 {
	position: absolute;
	width: 16px;
	height: 16px;
}

#go-dr {
	position: absolute;
	top: 20px;
	left: 450px;
	width: 168px;
	height: 167px;
	transform: scale(0.7);
}

#game-over {
	position: absolute;
	top: 124px;
	left: 169px;
	width: 334px;
	height: 120px;
	transform: scale(0.67);
}

#hand {
	position: absolute;
}

#score,
#high,
#count {
	position: absolute;
	transform: scale(0.7);
}

.loupe {
	position: absolute;
	width: 67.2px;
	height: 50.4px;
}

#loupe {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 230px;
	left: 60px;
}

#loupe1 {
	top: 40px;
	left: 70px;
}

#loupe2 {
	top: 70px;
	left: -10px;
}

#loupe3 {
	top: 0px;
	left: 10px;
}