/*
    Dr Mario game
    © Copyright 2020 Iwo Strzeboński
	Published under WTFPLv2
	Languages: HTML5, CSS3, JavaScript (ES 2020)
	CSS3 Style Sheet
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
	background-color: black;
	font-family: 'VT323', monospace;
}

html,
body,
body * {
	margin: 0;
	padding: 0;
	cursor: default;
	user-select: none;
}

#bottle {
	background-image: url('../assets/gfx/pf.png');
	background-repeat: no-repeat;
	width: 640px;
	height: 384px;
}

table {
	position: absolute;
	border-spacing: 0px;
	left: 272px;
	top: 96px;
}

th {
	width: 14px;
	height: 14px;
	border: 1px rgba(0, 255, 65, 0.25) solid;
	background-color: transparent;
}

.pill {
	position: absolute;
	background-color: rgba(0, 255, 65, 0.25);
	width: 16px;
	height: 16px;
	color: rgb(0, 255, 65);
	font-size: 8px;
	line-height: 8px;
	text-align: center;
}