html,
body {
	background-color: black;
	margin: 0;
	padding: 0;
}

.monitor {
	background-color: rgb(56, 56, 56);
	border-radius: 2rem;
	position: absolute;
	width: 418px;
	height: 418px;
}

.cell {
	position: absolute;
	width: 32px;
	height: 32px;
	border: 1px rgba(0, 255, 65, 0.5) solid;
}

.scanlines {
	background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.2));
	background-size: 100% 0.3rem;
}

.frame {
	background-color: transparent;
	border: 16px solid;
	border-bottom-color: #121212;
	border-left-color: #080808;
	border-right-color: #080808;
	border-top-color: #020202;
	box-shadow: inset 0 0 9rem black, inset 0 0 1rem black, 0 0 2rem black;
	position: absolute;
	left: 32px;
	top: 32px;
	height: 320px;
	width: 320px;
	pointer-events: none;
}

.noisy {
	position: absolute;
	height: 322px;
	width: 322px;
}